{% set hidden_widgets = True %}
{% set title = "Login" %}
{% extends 'base.html' %}

{% block content %}
<form enctype="multipart/form-data" method="POST">
    {{ form.csrf_token }}
    <label>{{ form.username.label }}</label>
    {{ form.username(class_="form-control") }}
    <br>
    <label>{{ form.password.label }}</label>
    {{ form.password(class_="form-control") }}
    <br>
    {{ form.remember_me(class_="form-check-label") }}
    <label>{{ form.remember_me.label }}</label>
    <br>
    <button type="submit" id="submit", name="submit" class="btn btn-primary btn-lg">
        Log In
    </button>    
</form>
<p>Forgot Your Password? 
    <a href="{{ url_for('auth.reset_password') }}">Click to Reset It</a>
</p>
{% endblock %}